**This is a comment.**

In [2]:
# Single line comment
"""
This is a
multiline
comment.

"""

10+20

30

In [3]:
"Hello"

'Hello'

In [4]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [5]:
'hello'

'hello'

In [6]:
120/12*2-4

16.0

In [7]:
(5-2)*10

30

In [8]:
17/2

8.5

In [9]:
13//2 # Floor Division gives nearest smallest integer (ans. is 6.5 so nearest smallest no. is 6)
# Ceil gives nearest largest integer. There is no ceil division. We can find ceil and floor of any fraction
# 3 things we can do with a fraction are: round(12.2)=12, floor(12.2)=12, ceil(12.2)=13

6

In [1]:
marks=100
marks

100

In [2]:
type(marks)

int

In [4]:
5**3

125

Boolean Operations

In [5]:
x = True
y = False

In [6]:
x or y

True

In [7]:
x and y

False

In [8]:
not x

False

In [ ]:
not y

True

In [9]:
x = 13
y = 5

In [10]:
c1 = x > y
c1

True

In [11]:
c2 = x < y
c2

False

In [12]:
not c1

False

In [13]:
not c2

True

In [14]:
type(c1)

bool

In [18]:
price=50.5
price
type(price) # only shows output of last line

float

In [19]:
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [20]:
name="Snehal"
type(name)

str

In [ ]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [22]:
str1

'welcome to Data Science.'

In [24]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [25]:
str1.lower()

'welcome to data science.'

In [26]:
str1.title()

'Welcome To Data Science.'

In [27]:
food="bIrYAni"
name="sNEHAL"
print(food.swapcase(),name.swapcase())

BiRyaNI Snehal

In [28]:
s1="My name is Snehal."
s1.split() # list of strings is created

['My', 'name', 'is', 'Snehal.']

In [29]:
s2="Mumbai-Pune-Mumbai"
s2.split()

['Mumbai-Pune-Mumbai']

In [30]:
s2.split("-")

['Mumbai', 'Pune', 'Mumbai']

In [31]:
mail="snehal@excelr.com"
mail.split("@")

['snehal', 'excelr.com']

In [32]:
s1

'My name is Snehal.'

In [33]:
s1.replace("Snehal","Jyoti")

'My name is Jyoti.'

In [34]:
s1

'My name is Snehal.'

In [37]:
city="Satara"
city.count("a")

3

In [38]:
"Snehal".count("S")

1

In [39]:
n1=5
n1*7

35

In [40]:
name="Raj"
name*4

'RajRajRajRaj'

In [41]:
name="Rajesh"
surname="Kulkarni"
name + surname # concatenates without space

'RajeshKulkarni'

In [44]:
name + " " + surname

'Rajesh Kulkarni'

In [ ]:
name

'Rajesh'

In [46]:
# Conditional Statement
a=100
b=40
if a>b:
  print("a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
  print('b is greater')
  print("In False block")
  c=a*b
  print(c)

a is greater
In True block
140

In [47]:
a=5000
b=30000
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

Greatest number is: 30000

In [ ]:
salary=25000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)
# change value of salary as 15000 and execute again

Hello from true if
Bye... outside of if block
Net Salary= 18750.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

In [ ]:
for num in range(0,5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
# For Loop
for i in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(i)
  print("Bye")

5
Bye
6
Bye
7
Bye
8
Bye
9
Bye

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# print odd numbers from 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [ ]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i==5:
    print("Same")
    break
  else:
    print(i)

1
2
3
4
Same

In [ ]:
for num in range(11): # 0 to 10
  print(num,num**2) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
# range(start,stop,step)
for i in range(1,31,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [ ]:
# print name 3 times on first line,  4 times on 2nd,5 - 3rd, 6 - 4th line. Range(3,7)
'''
name="Snehal"
for i in range(2,7):
  x=(name + " ")*i
  print(x)
'''
name="Snehal"
for i in range(2,7):
  print(name*i)

SnehalSnehal
SnehalSnehalSnehal
SnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehalSnehal

In [ ]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  print(letter)
  #print(letter.swapcase())
  #print(letter.swapcase(),end="") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

D
r
i
s
h
y
a
m

In [ ]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [ ]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i)

print('\nOdd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i)

Even Numbers:
2
4
6
8
10

Odd Numbers:
1
3
5
7
9

In [ ]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end="   ")

DDDD   aaaa   tttt   aaaa          SSSS   cccc   iiii   eeee   nnnn   cccc   eeee

In [ ]:
len("My name")

7

In [ ]:
len("Snehal")

6

In [ ]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
l1=[1.2,1.3]
type(l1)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
sorted(marks)

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
marks.sort() # original list is sorted in ascending order by default

In [ ]:
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
name = "Snehal"
sorted(name)

['S', 'a', 'e', 'h', 'l', 'n']

In [ ]:
marks.append(35) # Append will add element in the last only.
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2=[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False) # by default it sorts in ascending order. No need to write 'reverse=False'

In [ ]:
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
marks3.insert(2,95) # insert 89 at 3rd index

In [ ]:
marks3

[40, 50, 95, 60, 70, 80, 85]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True, else False

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation or merging of two lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
stationary=['pen','pencil','sharpner']
stationary

['pen', 'pencil', 'sharpner']

In [ ]:
len(stationary)

3

In [ ]:
stationary.append(['notebook','book']) # only 1 list element will be added
stationary

['pen', 'pencil', 'sharpner', ['notebook', 'book']]

In [ ]:
len(stationary)

4

In [ ]:
stationary.pop(1) # index 1 element will be removed from list

'pencil'

In [ ]:
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [ ]:
stationary.append('pencil') # only 1 list element will be added
stationary

['pen', 'sharpner', ['notebook', 'book'], 'pencil']

In [ ]:
stationary.pop() #if index no. is not mentioned pop() removes the last element
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [ ]:
# to add multiple items use extend()
stationary.extend(['writing_pad','textbook','eraser'])

In [ ]:
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook', 'eraser']

In [ ]:
len(stationary)

6

In [ ]:
stationary.remove('eraser') # will remove mentioned element name from list
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook']

In [ ]:
len(stationary)

5

In [ ]:
stationary.index('textbook')

4

In [ ]:
'''
if condition:
  -- things to do when condition is true
else:
  -- things to do when condition is false
'''
# elif - multiple conditions

num = 0 # try 0, 5
if num > 0:
  print("Positive")
elif num == 0:
  print("It's Zero")
else:
  print("Negative")

It's Zero

**Get input from user and find grades**

In [ ]:
name = input("Enter your name: ") # while taking input it may get time to execute or laptop may hang. Then assign value directly to a variable

Enter your name: Amit

In [ ]:
name

'Amit'

In [ ]:
marks = input("Enter Marks: ")

Enter Marks: 60

In [ ]:
marks

'60'

In [ ]:
age=20

In [ ]:
age

20

In [ ]:
age+10

30

In [ ]:
marks + 10 # guess the output

TypeError: can only concatenate str (not "int") to str

In [ ]:
# output is coming in quotation i.e. it is treated as string. You have to convert it to number.
# instead of doing it in 2 steps, while accepting input only we can convert it to integer.
age = int(input("Enter age: "))

Enter age: 30

In [ ]:
age + 5

35

In [ ]:
# accept a number from user, if it is divisible by 7 display "You win" else display "Sorry, try again"
num = int(input("Enter a number: "))
print(num)
if num % 7 == 0:
  print("You won,it is divisible by 7")
else:
  print("Sorry, try again")

Enter a number: 21
21
You won,it is divisible by 7

In [ ]:
# accept marks, if marks>=80 print "Distinction", if between 60-80 print "First class",
# if between 40-60 print "Pass", if less than 40 print"Fail"
marks = int(input("Enter your marks: "))
if marks >= 80:
  print("Distinction")
elif marks >= 60:
  print("First Class")
elif marks >= 40:
  print("Pass")
else:
  print("Fail")

Enter your marks: 30
Fail

**For Loop**

In [ ]:
mrklist = [34,55,77,95,20]
for marks in mrklist:
  if marks >= 80:
    print(marks, "--> Distinction")
  elif marks >= 60:
    print(marks, "--> First Class")
  elif marks >= 40:
    print(marks, "--> Pass")
  else:
    print(marks, "--> Fail")

34 --> Fail
55 --> Pass
77 --> First Class
95 --> Distinction
20 --> Fail

**While loop**

In [ ]:
# While loop: Print Hello for 5 times
cnt = 1
while cnt < 6:
  print("Hello")
  cnt = cnt + 1

Hello
Hello
Hello
Hello
Hello

**Write user defined function**

In [ ]:
# Write a square function

# Function Definition
def square(x):
  return x * x # or retrurn x**2

In [ ]:
# Call a funciton
square(15)

225

In [ ]:
square(5)

25

In [ ]:
# write a function calc_grade(marks)
def calc_grade(marks):
    if marks >= 80:
      grade = "Distinction"
    elif marks >= 60:
      grade = "First Class"
    elif marks >= 40:
      grade = "Pass"
    else:
      grade = "Fail"
    return grade # it should be aligned with if

In [ ]:
# Call the function
calc_grade(5)

'Fail'

In [ ]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  #print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
  print(fruit.upper(),end="  ")

MANGO  APPLE  BANANA  PINEAPPLE  CUSTARD APPLE  STRAWBERRY

In [ ]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[3]

'Pineapple'

In [ ]:
list3.count("Banana")

1

In [ ]:
list3[6] # raise error as index is upto 5 only (0 to 5)

IndexError: list index out of range

In [ ]:
list3[5]

'Strawberry'

In [ ]:
# Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
# from Apple to Strawberry i.e. till end
list3[1:]# or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# from beginning to Pinaapple
list3[:4] # or  list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[-4::-1] #start,end,step

['Banana', 'Apple', 'Mango']

In [ ]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
# start stop step in slicing
print(list3)
list3[::2] # 0,2,4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=[1:31] # to create list of 1 to 30 - will raise error

SyntaxError: invalid syntax (<ipython-input-88-3da6388c3a68>, line 1)

In [ ]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
# print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [ ]:
'The' in 'Netherland'

False

In [ ]:
'therer' in 'Netherland'

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry") # removes mentioned element

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [ ]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("Black berry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [ ]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2) # OR l2.append(i*i)
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**3 for i in l1]
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[8, 27, 64, 125, 216]

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [ ]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [ ]:
newlist

['Strawberry', 'Mulberry', 'Black berry']

In [ ]:
newlist1=[i for i in list3 if 'berry' not in i]

In [ ]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.index('Banana')

2

In [ ]:
list3.index('Black berry')

6

In [ ]:
list3.index('Orange') # will raise error as item is not present in the list

ValueError: 'Orange' is not in list

In [ ]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Black berry']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango', 'Apple', 'Orange', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
# created using round brackets ()
t1=(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [ ]:
type(t1)

tuple

In [ ]:
t1[4]

50

In [ ]:
t1[0]=100 # will raise an error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
t3=t1 + (6,7,8,9,10)

In [ ]:
t3

(10, 20, 30, 40, 50, 6, 7, 8, 9, 10)

In [ ]:
t1 * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1

(10, 20, 30, 40, 50)

In [ ]:
t1.count(50)# in bracket we have passed an element of tuple (not the index)

1

In [ ]:
t1.index(40) # in bracket we have passed an element of tuple (not the index)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,7,6,6,7)

In [ ]:
t2.index(6)

5

In [ ]:
t2.count(6)

5

In [ ]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

30

In [ ]:
t1

(10, 20, 30, 40, 50)

In [ ]:
t1[1:4]

(20, 30, 40)

In [ ]:
t1[3:]

(40, 50)

In [ ]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value" pairs.
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict) # or dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# access element of dictionary
capital_dict["England"]

'London'

In [ ]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys1=capital_dict.keys()
keys1

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
type(keys1)

dict_keys

In [ ]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
value=capital_dict.values()
value

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict.update({"Australia":"Canberra"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra'}

In [ ]:
capital_dict.update({"a":"b","p":"q"})

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra',
 'a': 'b',
 'p': 'q'}

In [ ]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("a")

'b'

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra',
 'p': 'q'}

In [ ]:
capital_dict['abc']="Mumbai"

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra',
 'p': 'q'}

In [ ]:
capital_dict.popitem() # removes last key:value pair from dictionary

('p', 'q')

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra'}

In [ ]:
# Dictionary Values can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [ ]:
mytuple=(20,53,45,78,89,65,97)

In [ ]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'abc': 'Mumbai',
  'Australia': 'Canberra'}}

In [ ]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [ ]:
len(mydict)

3

In [ ]:
len(mydict['A'])

6

In [ ]:
mydict['B']

(20, 53, 45, 78, 89, 65, 97)

In [ ]:
mydict['A'][4] #index 0 1 2 3, 3rd index element = banana

'Mulberry'

In [ ]:
mydict['C']['India']

'New Delhi'

In [ ]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: name 'sqrt' is not defined

In [ ]:
from math import sqrt
sqrt(36)

6.0

In [ ]:
factorial(5)

NameError: name 'factorial' is not defined

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
sin(90)

NameError: name 'sin' is not defined

In [ ]:
from math import sin,cos,tan

In [ ]:
cos(0)

1.0

In [ ]:
from math import *
listnew=[5,2,3]
prod(listnew) #or prod([10,20,30])

30

In [ ]:
prod(t1)

12000000

In [ ]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2,2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [ ]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [ ]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
import math as mt

In [ ]:
mt.sqrt(36)

6.0